<%= content_for_block("show_jukebox","jplayer_process") %>

<%= header_name(@jukebox.name )%>
<div class="jukebox_header" id="<%= @jukebox.id %>">
<div class="jquery_jplayer">
	
</div>

<%= location(@jukebox) %>

<div class="middle">
	<div class="playlist">
		<%= playlist(@songs) %>
	</div>
	<br>
	<%= search_song(@jukebox) %>
</div>

<p>
  <b>Opening time:</b>
  <%= @jukebox.opening %>
  
  <b>Closing time:</b>
  <%= @jukebox.closing %>
</p>

<div class="bottom">
	<%= object_links_bottom(@jukebox) %>
</div>
