<ul class="songs">
<% songs.each do |song| %>
  <li class="song" id="<%= song.id %>">
	  <% if current_user %>
	    <a data-jukebox-song="<%= song.id %>" class="upvote_action"><i class="icon-arrow-up"></i></a>
	    <a data-jukebox-song="<%= song.id %>" class="downvote_action"><i class="icon-arrow-down"></i></a>
      <% end %>
	  <br>
    <% if song.rank %>
	  <%= song.rank %>. 
	<% end %>
	"<%= song.song_title %>" by <%= song.artist %> </h2>
    <div class="submitted_by">
  	  Submitted by <%= user_div(song.user) %> 
  	  <% if song.user.uid %>
  	    <img src="http://graph.facebook.com/<%= song.user.uid %>/picture?type=small" alt="profile pic">
  	  <% end %>
	  <br>
	  Votes: <div id="<%= song.id %>" class="jukebox_song_vote_count"> <%= song.votes_count %> </div>
	  <br>
    </div>
  </li>
<% end %>
</ul>