<%= content_for_block("jukeboxes") %>

<div class="jukeboxes_index">
	<h1> Find Your Jukebox </h1>
	
	<%= form_tag '/search', :method => 'put' do %>
	<label for='search'> Search </label>
	<%= text_field_tag 'search' %>
	<% end %>
	<br>

	<hr>
	<% @jukeboxes.each do |juke| %>
	<br>
		<%= link_to juke.name, jukebox_path(juke.id) %> 
	<% end %>

	<br>
	<hr>
	<i class="icon-level-up"></i> <%= link_to "Create a jukebox", new_jukebox_path, :class => "btn btn-default" %>
</div>
