<%= content_for_block("show_jukebox") %>

<div class="jukebox_header" id="<%= @jukebox.id %>">
  <h1>
    Jukebox <%= @jukebox.name %>
  </h1>
<%= location(@jukebox) %>

<p>
  <b>Url:</b>
  <%= @jukebox.url %>
</p>

<p>
  <b>Opening time:</b>
  <%= @jukebox.opening %>
  
  <b>Closing time:</b>
  <%= @jukebox.closing %>
</p>

<div class="playlist">
	<h1> Playlist </h1>	
	<%= playlist(@songs) %>
</div>
<br>

<%= new_song(@jukebox) %>

<br>

<%= object_links_bottom(@jukebox) %>
</div>

<%= jukebox_chat %>
