<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @jukebox.name %>
</p>

<p>
  <b>Latitude:</b>
  <%= @jukebox.latitude %>
</p>

<p>
  <b>Longitude:</b>
  <%= @jukebox.longitude %>
</p>

<p>
  <b>Street:</b>
  <%= @jukebox.street %>
</p>

<p>
  <b>City:</b>
  <%= @jukebox.city %>
</p>

<p>
  <b>State:</b>
  <%= @jukebox.state %>
</p>

<p>
  <b>Country:</b>
  <%= @jukebox.country %>
</p>

<p>
  <b>Url:</b>
  <%= @jukebox.url %>
</p>

<p>
  <b>Opening:</b>
  <%= @jukebox.opening %>
</p>

<p>
  <b>Closing:</b>
  <%= @jukebox.closing %>
</p>


<%= link_to 'Edit', edit_jukebox_path(@jukebox) %> |
<%= link_to 'Back', jukeboxes_path %>
