<%= content_for_block("show_jukebox","jplayer_process") %>

<div class="jukebox_header" id="<%= @jukebox.id %>">
<div class="jquery_jplayer">
	
</div>
<%= jplayer %>
<%= location(@jukebox) %>

<div class="middle">
	<div class="playlist">
		<h5> Now Playing </h5>	
		<br>
		<%= playlist(@songs) %>
	</div>
	<br>
	<%= search_song(@jukebox) %>
</div>

<%= jukebox_chat %>

<p>
  <b>Opening time:</b>
  <%= @jukebox.opening %>
  
  <b>Closing time:</b>
  <%= @jukebox.closing %>
</p>

<div class="bottom">
	<%= object_links_bottom(@jukebox) %>
</div>
