<p>
  <b>Name:</b>
  <%= @jukebox.name %>
</p>
<p>
  <b>Street:</b>
  <%= @jukebox.street %>
</p>

<p>
  <b>City:</b>
  <%= @jukebox.city %>
</p>

<p>
  <b>State:</b>
  <%= @jukebox.state %>
</p>

<p>
  <b>Country:</b>
  <%= @jukebox.country %>
</p>

<p>
  <b>Url:</b>
  <%= @jukebox.url %>
</p>

<p>
  <b>Opening:</b>
  <%= @jukebox.opening %>
</p>

<p>
  <b>Closing:</b>
  <%= @jukebox.closing %>
</p>

<p><h1> Playlist </h1> 
	<% @songs.each do |song| %>
		<%= song.name %>
	<% end%>
</p>
<%= link_to 'Add your song', new_vote_path %>


<%= link_to 'Edit', edit_jukebox_path(@jukebox) %> |
<%= link_to 'Back', jukeboxes_path %>
