<h1>
  Jukebox <%= @jukebox.name %>
</h1>
<%= location(@jukebox) %>

<p>
  <b>Url:</b>
  <%= @jukebox.url %>
</p>

<p>
  <b>Opening time:</b>
  <%= @jukebox.opening %>
  
  <b>Closing time:</b>
  <%= @jukebox.closing %>
</p>

<div class="playlist">
	<h1> Playlist </h1>
		<%= playlist(@songs) %>
</div>
<br>	
<%= render :partial => "new_song", :locals => {:jukebox => @jukebox}%>

<br>
<%= link_to 'Edit this jukebox\'s details', edit_jukebox_path(@jukebox) %> |
<%= link_to 'Back', jukeboxes_path %>
