<p>
  <b>User:</b>
  <%= @vote.user %>
</p>

<p>
  <b>Song title:</b>
  <%= @vote.song_title %>
</p>

<p>
  <b>Artist:</b>
  <%= @vote.artist %>
</p>

<p>
  <b>Url:</b>
  <%= @vote.url %>
</p>


<%= link_to 'Edit', edit_vote_path(@vote) %> |
<%= link_to 'Back', votes_path %>
