<!DOCTYPE html>
<html>
<head>
  <title>BarApp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <script type="text/javascript" src="//use.typekit.net/vfg0zyr.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
</head>
<body>
	<header>
		<nav>
			<ul>
				<li id="logo">
					<%= link_to image_tag("/images/note3.png", :width => "20", :height => "32px", :alt => "note") + "JooKer", root_path %>
				 </li>
				<li> <%= link_to "Search", jukeboxes_path %> </li>
				<li> <%= nav_link %></li>
				<li> <%= link_to "Register", register_path %> </li>
			</ul>
		</nav>
	</header>
	<div class="super">
		<%= notice_div %>
		<span class="container">
			<%= yield %>
		</span>
	</div>
</body>
</html>
