<!DOCTYPE html>
<meta charset=”utf-8”> 

<html>
<head>
  <title>BarApp</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "app" %>
  <%= javascript_include_tag "http://localhost:9292/faye.js" %>
  <%= yield :head %>
  <%= csrf_meta_tags %>
  <script type="text/javascript" src="//use.typekit.net/vfg0zyr.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
</head>
<body>
	<header>
		<nav>
			<div class="navbar-collapse">
				<ul class="nav navbar-nav">
					<%= nav_links %>
				</ul>
				<%= login_nav %>
			</div>
		</nav>
	</header>
	<div class="super">
		<%= notice_div %>
		<div class="content">
			<%= yield %>
		</div>
	</div>
</body>
</html>